/* styles.css for choose-wisely */

:root {
    --main-white: #ffffffb2;
    --main-red: #f50b0b;
    --main-blue: #3c3b6e;
    --main-gray: #303841;
}

@font-face {
    font-family: 'Raven Song';
    src: url(Raven-Song.ttf);
    font-style:normal;
}
@font-face {
    font-family: 'October Crow';
    src: url(OctoberCrow.ttf);
    font-style:normal;
}

body {
    background-image: url(wooden_background.jpeg);
    background-size:cover;
    background-attachment:fixed;
    min-width: 325px;
}

.main-container {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

#filler {
    height: 8vw;
}

#bigTitle {
    color: var(--main-red);
    text-align: center;
    font-family: 'Raven Song', sans-serif;
    font-size: 9vh;
    padding: 15px;
    font-weight: 700;
    text-shadow: -10px -10px black;
    
}

#smallTitle {
    color: var(--main-red);
    text-align: center;
    font-family: 'Raven Song', sans-serif;
    font-size: 6vh;
    padding: 15px;
    font-weight: 500;
    text-shadow: -6px -6px black;
}

#text {
    font-family: 'October Crow', sans-serif;
    color: var(--main-white);
    font-size: 4vh;
    padding: 15px;
    text-shadow: -2px -2px black;
    text-align: center;
}

.button-container {
    padding: 15px;
    display: flex;;
    gap: 50px;
}

button {
    background-color: var(--main-red);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 4.5vh;
    font-weight: 500;
    font-family: 'Raven Song', sans-serif;
    border-radius: 50px;
  }

  button:hover {
    cursor: pointer;
}


